@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@100;400;700&display=swap");

$poppins: "Poppins";
$white: #f1f1f1;
$purple: #772ce8;
$pastelPurple: #dfd7ea;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  body {
    font-family: $poppins;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: $purple;
    background-color: $white;

    .difficulties {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;

      input {
        margin: 0 8px;
        padding: 8px 20px;
        font-family: $poppins;
        font-size: 14px;
        font-weight: 400;
        color: $purple;
        text-transform: capitalize;
        border: 1px solid $purple;
        border-radius: 100px;
        background-color: $white;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          color: $white;
          background-color: $purple;
        }
      }
    }

    .quiz {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 64px 0 128px 0;

      .questions {
        list-style: none;

        .question {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 64px;
          padding: 64px;
          border-radius: 10px;
          background-color: $pastelPurple;

          .category {
            margin-bottom: 8px;
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 2px;
          }

          .answers {
            margin-top: 16px;
            list-style: none;

            .answer {
              margin-top: 16px;
              padding: 8px 20px;
              border: 1px solid $purple;
              border-radius: 100px;
              cursor: pointer;
              transition: 0.2s;

              &:hover {
                color: $white;
                background-color: $purple;
              }
            }
          }
        }
      }

      button {
        margin-top: 64px;
        padding: 8px 20px;
        font-family: $poppins;
        font-size: 14px;
        font-weight: 400;
        color: $white;
        border: 1px solid $purple;
        border-radius: 100px;
        background-color: $purple;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          color: $purple;
          background-color: $white;
        }
      }
    }
  }
}
