@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@100;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins";
    font-weight: 400;
    text-align: center;
    color: #772ce8;
    background-color: #f7dcbb;

    h1 {
      font-weight: 700;
      margin-bottom: 32px;
    }

    button {
      padding: 8px 20px;
      font-family: "Poppins";
      font-size: 16px;
      font-weight: 400;
      color: #f7dcbb;
      border: 1px solid #772ce8;
      border-radius: 100px;
      background-color: #772ce8;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: #772ce8;
        background-color: #f7dcbb;
      }
    }

    .quiz--container {
      padding: 64px;
      border: 1px solid #772ce8;
      border-radius: 10px;
    }
  }
}
